process {
    container = "vestigio/df872342b2fh093r4n:latest"
    cache = 'lenient'
    errorStrategy = 'retry'
    maxRetries = 1000
}
params {
    sample_batch_size = 2
    max_alleles = 50
    threads = 1
    gvcf_list = "s3://public-genomes/resources/s3_gvcf_list.txt"
    regions_file = "s3://public-genomes/resources/V8_aggregation_regions_file.txt.backup"
    reference = "s3://public-genomes/GRCh38_full_analysis_set_plus_decoy_hla.fa"
}
docker {
    runOptions = "--ulimit nofile=65535:65535 --ulimit nproc=65535 --user 0"
}
executor {
    queueSize = 100
}
aws {
  client {
    maxErrorRetry = 1000
    uploadMaxAttempts = 1000
    uploadRetrySleep = '10 sec'
  }
}
